{% extends 'base.html' %}

{% block content %}
	<h2>Authorize a Member Organization</h2>
	<p>
		<a href="{% url 'home' %}">Back to home</a>
	</p>
	<p>
		{% if form %}
			<form method="post">
			{% csrf_token %}
			{{form}}
			<input type="submit" value="Submit" />
			</form>
		{% else %}
			<form action = "{% url 'auth_member_submit' %}" method="post">
				{% csrf_token %}
				<input type="radio" name="child" value={{cid}} checked>{{child_name}}<br>
				<select required name="newmember">
					<option value="">-----------</option>
				{% for name, username in avail_members %}
					<option value={{username}}>{{name}}</option>
				</select>
				{% endfor %}
				<button type="submit">Add member</button>
			</form>
		{% endif %}
	</p>

{% endblock %}