{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ user.profile.full_name }}!</h2>
  <!-- <small>{{ user.username }}</small>-->

  <!-- <p>Your role: {{ user.profile.role }}</p> -->
  <p>Your children:
    <ol style="list-style-type:square">
      {% for field in r %}
        <li><strong>Name</strong>: {{field.name}}, <strong>ID</strong>: {{field.cid}}</li>
      {% endfor %}
    </ol>

  </p>

  <p>What would you like to do today?
  	<ol style="list-style-type:square">
  	{% if user.profile.role == 'GRDN' %}
      <li><a href="{% url 'viewchild' %}">View child's immunization record</a></li>
      <li><a href="{% url 'auth_member_select' %}">Authorize member organizations</a></li>
      <li><a href="{% url 'deauth_member_select' %}">Deauthorize member organizations</a></li>
  		<li><a href="{% url 'assignmed_select' %}">Add medical providers</a></li>
      <li><a href="{% url 'update' %}">Update my child's information</a></li>
      <li><a href="{% url 'newchild' %}">Add a child</a></li>
  	{% elif user.profile.role == 'MEMB' %}
  		<li><a href="{% url 'viewchild' %}">View child's immunization record</a></li>
  	{% else %}
  		<li><a href="{% url 'viewchild' %}">View child's immunization record</a></li>
  		<li><a href="{% url 'addImmun' %}">Add immunization to child's record</a></li>
  	{%endif%}
  	</ol>
  </p>
{% endblock %}



      
      

      
      
    
      

      