{% extends 'base.html' %}

{% block content %}
  <h2>Child Update Form</h2>
  {% if form.child.field.choices %}
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Submit</button>
    </form><br>
  {%  else %}
    <p>You currently don't have any children!</p>
  {%  endif %}
  <a href="{% url 'home' %}"><button>Cancel</button>
{% endblock %}