{% extends 'base.html' %}

{% block content %}
	<h2>View Child's Record</h2>
	<p>
		<a href="{% url 'home' %}">Back to home</a>
	</p>
	<p>
	{% if h %}
		Name: {{h.name}}<br>
		Address: {{h.address}}<br>
		Birthdate: {{h.dob}}<br>
		Guardian: {{userdict|get_item:h.guardian}}<br>
		Medical Providers:
			<ol style="list-style-type:square">
			{% for name in h.medproviders %}
				<li>{{userdict|get_item:name}}</li>
			{% endfor %}	
			</ol>
		Members:
			<ol style="list-style-type:square">
			{% for name in h.members %}
				<li>{{userdict|get_item:name}}</li>
			{% endfor %}	
			</ol>
		Immunizations:
			<ol style="list-style-type:square">
			{% for immunization in h.immunizations %}
			<li><strong>Vaccine</strong>: {{immunization.name}}, <strong>Date</strong>: {{immunization.imdate}}, <strong>Provider</strong>: {{userdict|get_item:immunization.provider}}</li>
			{% endfor %}	
			</ol>
	{% endif %}
  </p>
	<p>Select child to view record:</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}